[submodule "thirdparty/ntfy"]
	path = thirdparty/ntfy
	url = https://github.com/stephdewit/ntfy.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
